source https://nuget.org/api/v2

group Main
  github caindy/FSharpUtils Prelude.fs
  github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fsi
  github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs
  github Microsoft/Vipr
  nuget FSharp.Data

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2
